version: "3.9"

services:
  app:
    build:
      context: .
    container_name: app
    networks:
      - laravel
    depends_on:
      - nginx

  nginx:
    image: nginx:stable-alpine
    container_name: nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel

networks:
  laravel:
    driver: bridge
